@import url('https://fonts.googleapis.com/css2?family=Martel:wght@200;300;400;600;700;800;900&display=swap');

body {

    font-family: 'Martel', serif;
    padding: 0 20;
    margin: 0 0;
    max-width: 3840px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

header {
    background-color: rgb(255, 255, 255);

    display: flex;
    display: in;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    padding: 1vh 1vw;


}

header button {
    color: white;
    border: none;
    border-radius: 20px;
    background-color: rgb(255, 108, 108);
    padding: 5px;
    margin: 1px
    
}
.logo {
    width: 80px;
    height: auto;
    cursor: pointer;

}

header nav ul li {
    list-style-type: none;
    display: inline;
    padding: 3vw;

}

a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: x-small;

}

.hero {
    color: rgb(255, 255, 255);
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(rgba(0, 0, 0, 0.61), rgba(0, 0, 0, 0.8)), url(../images/Hero\ Image\ .jpg);
    background-size: cover;
    background-position: center;
}

.hero article {
    margin: auto;
    width: 480px;
    padding: 40px;
}

.hero h1 {

    text-align: left;
    justify-content: center;
    font-weight: 800;
    font-size: 72px;
    text-transform: capitalize;
}

.Shop {
    width: 100vw;
    margin: auto;
    padding: 20px;
}

.container {
    width: 100vw;
    margin: auto;
    padding: 20px;
}

.container h2 {
    font-size: 18px;
    text-align: center;

}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    grid-auto-rows: minmax(380px, 1fr);

}

.card {
    margin: 1rem;
    padding: 3em;
    /* offset-x offset-y blur-radius spread-radius | color */
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
    max-height: 600px;
    max-width: 600px;
    cursor: pointer;
}

footer{
    margin: auto;
    padding: 1vw 1vh;
    background-color: black;
    color: white;
    font-size:  small;
    font-weight: 600;
   
}

footer nav ul li {
    list-style-type: none;

    padding: 1vw;
}
footer a {
    color: white;
    font-weight: 200;
}
footer span {
    display: flex;
    justify-content: center;
    width: 40%;
    margin: auto;
    text-align: center;
}

.container .grid-container .card:nth-child(1){
    color: white;
    font-weight: 400;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/Layer\ 12.jpg);
    background-position: center;
    background-size:    cover;
    background-repeat: no-repeat;
}

.Shop .grid-container .card:nth-child(4){
    background-image: url(../images/Hero\ Image\ .jpg);
    background-position: center;
    background-size:    cover;
    background-repeat: no-repeat;
}


@media only screen and (min-width: 800px) {
    .grid-container {

        grid-template-columns: repeat(3, 1fr);
        
    }
    .--spantall {
        grid-row: span 2 / auto;
    }
    
    .--spanwide {
        grid-column: span 2 / auto;
    }
    .card {
        max-width: 640px;
        max-height: 640px;
    }
    .--spantall .--spanwide{
        max-height: 1200px;
        max-width: 1280px;
    }
}